/*
Margins are used to create space around elements, outside of any defined borders.
4 values: top, right, bottom, left
3 values: top, right-left, bottom
2 values: top-bottom, right-left
1 value: all four
*/

.border {
	border: 10px solid red;
	border: 10px dotted red;
	border: 10px dashed red;
	border-bottom: 10px solid blue;
	width: 200px;
	height: 200px;
}

.margin {
	margin: 50px 100px 50px 20px;
	background-color: red;
	width: 200px;
	height: 200px;
}